<% if @joke.present? %>
  <p style="letter-spacing: 0.1px; color: #727272;"><%= @joke.content %></p>
<% else %>
<div class="text-center">
  <p>"That's all the jokes for today! Come back another day!"</p>
</div>
<% end %>