<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 250px; background-color: #29B363">
  <div class="row text-center text-white">
    <h1>A joke a day keeps the doctor away</h1>
    <h6>if you joke wrong way, your teeth have to pay. (Serious)</h6>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-7 col-lg-8 p-5">
      <div class="section-title text-left">
        <p style="letter-spacing: 0.5px;">
          A child asked his father, "How were people born?" So his father said, "Adam and Eve made babies, then their babies became adults and made babies, and so on."The child then went to his mother, asked her the same question and she told him, "We were monkeys then we evolved to become like we are now." The child ran back to his father and said, "You lied to me!" His father replied, "No, your mom was talking about her side of the family."
        </p>
      </div>
    </div>
  </div>
</div>
<hr class="mx-auto d-none d-sm-block" style="width: 40%;">
<div class="container-fluid d-flex justify-content-center text-center" style="padding: 5%;">
  <button class="btn btn-primary mx-3 flex-grow-1 w-100" style="border-radius: 0; max-width: 200px;">
    <div class="align-items-center">
      This is funny!
    </div>
  </button>
  <button class="btn btn-success mx-3 flex-grow-1 w-100" style="border-radius: 0; max-width: 200px;">
    <div class="align-items-center">
      This is not funny.
    </div>
  </button>
</div>